appnope==0.1.0
backcall==0.1.0
certifi==2022.12.7
chardet==3.0.4
decorator==4.3.2
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.5.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
requests==2.21.0
six==1.12.0
statsd==3.3.0
stringcase==1.2.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
